<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wuxio.gankexamples">

      <!-- 允许读取网络状态 -->
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <!-- 允许读取wifi网络状态 -->
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

      <application
          android:allowBackup="false"
          android:icon="@mipmap/ic_launcher"
          android:label="@string/app_name"
          android:name=".App"
          android:roundIcon="@mipmap/ic_launcher_round"
          android:supportsRtl="false"
          android:theme="@style/AppTheme">

            <!-- used for exit app singleTask mode -->

            <activity
                android:launchMode="singleTask"
                android:name=".root.RootActivity">
                  <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>

                        <category android:name="android.intent.category.LAUNCHER"/>
                  </intent-filter>
            </activity>

            <!-- splash init something -->

            <activity
                android:name=".splash.SplashActivity"
                android:theme="@style/FullScreenTheme">
            </activity>

            <!-- main page -->

            <activity
                android:launchMode="singleTop"
                android:name=".main.MainActivity"
                android:screenOrientation="portrait"/>
            <activity android:name=".picture.PictureActivity">
            </activity>

            <!-- webView -->

            <activity
                android:launchMode="singleTop"
                android:name=".web.WebActivity">
            </activity>

            <receiver android:name="tech.threekilogram.network.state.manager.NetStateReceiver">
            </receiver>

      </application>

</manifest>